{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{p.name}}{% endblock %}

{% block content %}
    <div class="container mt-5 " >
      <div class="row">
        <div class="col-md-3 fast fadeIn">

          <img src="{{p.image}}" class='img-fluid' alt="">
          <p class="card-text text-center"><small class="text-muted">{{p.universe}}</small> | <small class="text-muted">{{p.raza}}</small> | <small class="text-muted">{{p.type}}</small></p>

        </div>

        <div class="col-md-9 fast fadeIn">

          <h5 class="card-title">{{p.name}}</h5>
          <hr>
          <p class="card-text">{{p.description |linebreaks}}</p>

        </div>
      </div>

    
    </div>
{% endblock content %}
    