{% extends 'core/base.html' %}
{% load static %}
{% block title %}Acerca de{% endblock %}

{% block content %}
    <div class="container mt-5 fast " >
    <h1>Acerca del album de personajes de dragon ball</h1>
    <hr>
    <div class="jumbotron jumbotron-fluid fast fadeIn">
    <div class="container ">
        <p class="lead">Esta pequeña aplicacion web en principio comenzo con la idea de ir agregando personajes de dragon ball el anime, pero con el paso del tiempo se me dio la idea de agregar perosnajes de cualquier anime o caricatura, mas bien cualquier personaje animado.</p>
        <p class="lead">Tambien lo desarrolle en un momento de aburricion para practicar uno de mis lenguajes favoritos como lo es python y el super framework Django.</p>
    </div>
    </div>

    </div>
{% endblock content %}
    